/* if there are COLORS in this css, create variables for them!!! */
:root {
    --button-color-prim: rgb(29, 44, 111);
    --button-color-sec: rgb(253, 255, 135);
    --text-color: rgb(255, 244, 94);
    --blue-box: #83B7FF;
}

body.title {
    background-image: url(Map.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

body.info {
    background-image: url(water-texture.png);
    background-size: 30px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
}

body.gameplay {
    background-image: url(grass-texture.png);
    background-size: 650px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
}

* {
    font-family: "Jersey 20", sans-serif;
}

/* title  page */
h1 {
    background-image: url(title.png);
    width: 872px;
    height: 360px;
    text-indent: -9999em;
    margin-left: auto;
    margin-right: auto;
}

#start {
    color: white;
    display: block;
    background-color: black;
    width: 100%;
    height: 96px;
    line-height: 96px;
    text-align: center;
    font-size: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    border: none;
    text-decoration: none;
}

#start:hover {
    background-color: var(--button-color-prim);
    color: var(--button-color-sec);
    cursor: pointer;
}

/* info page */
/* input stuff */
#lab {
    width: 570px;
    height: 50px;
    background-color: var(--text-color);
    border: none;
    font-size: 30px;
}

#classmate {
    width: 570px;
    height: 50px;
    background-color: var(--text-color);
    border: none;
    font-size: 30px;
}

#teacher {
    width: 570px;
    height: 50px;
    background-color: var(--text-color);
    border: none;
    font-size: 30px;
}

#play {
    width: 302px;
    height: 55px;
    display: block;
    font-size: 40px;
    background-color: black;
    color: white;
    border: none;
    align-items: center;
    text-decoration: none;
    padding-top: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}



#play:hover {
    background-color: var(--button-color-prim);
    color: var(--button-color-sec);
    cursor: pointer;
}

div.info {
    display: block;
    width: 1328px;
    height: 915px;
    background-color: var(--blue-box);
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;

}




/* gameplay */
#image {
    width: 1324px;
    height: 920px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.dialouge {
    height: 130px;
    width: 1290px;
    font-size: 20px;
    padding: 20px;
    width: 500px;
    word-wrap: break-word;
    margin-top: -300px;
    background-image: url(dialouge.png);
    background-size: 541px;
    max-width: fit-content;
}

button {
    height: 30px;
    width: 90px;
    background-color: white;
    margin-top: -30px;
    margin-left: 400px;
}

button:hover {
    font-size: 15px;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: black;
}



/*starter/pokemon pick */
.starter-pick {
    display: flex;
    justify-content: space-between;
    margin-left: 450px;
    margin-right: 450px;
}
.litten {
    display: block;
    width: 900px;
    height: 120px;
    background-color: aquamarine;
}
#lit {
    width: 95px;
    height: 105px;
    max-width: fit-content;
    margin: 0;
    
}
#frk {
    width: 100px;
    height: 90px;
    margin: 0;
}
#tck {
    width: 80px;
    height: 95px;
    margin: 0;
}